* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

/* Nagłówek */
#masthead {
    background-color: #183153;
    color: white;
    padding: 20px;
    text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}

/* Nawigacja główna */
#nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
	margin-right: 20px;
	gap: 2rem;
}

.nav-link {
    margin: 0 15px;
    position: relative;
}

.nav-link > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
	font-size: large;
}

.nav-link {
    position: relative;
}

/* Kontener rozwijanego menu */
.mega-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
	transform: none;
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    gap: 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 1000;
}
/* Jeśli jest klasa align-right – wyrównaj do prawej */
.nav-link.align-right .mega-dropdown {
    right: 0;
    left: auto;
}
/* Każda kolumna */
.dropdown-column {
    min-width: 200px;
}

.dropdown-column h4 {
    margin: 0 0 10px;
    font-size: 1.1rem;
    color: #333;
}

.dropdown-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-column ul li {
    margin: 5px 0;
}

.dropdown-column ul li a {
    color: #0077cc;
    text-decoration: none;
    font-size: 0.95rem;
}

/* Pokaż rozwijane menu po najechaniu */
.nav-link:hover .mega-dropdown {
    display: flex;
}
/* Breadcrumb */
.breadcrumb-container {
    background-color: #e9ecef;
    padding: 10px;
}

.breadcrumb {
    list-style: none;
    display: flex;
    gap: 5px;
}

.breadcrumb li::after {
    content: ">";
    margin: 0 5px;
}

.breadcrumb li:last-child::after {
    content: "";
}

.breadcrumb a {
    text-decoration: none;
    color: #004080;
}

/* Layout */
#container {
    display: flex;
	flex-direction: row;
    margin: 20px;
    gap: 20px;
}

#left_col,
#right_col {
    width: 20%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    height: fit-content;
}

#page_content {
    width: 60%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.module {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

.module_title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
	border-bottom: 1px solid #ccc;
}

.module_links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.module_links li {
    margin-bottom: 8px;
}

.module_links a {
    text-decoration: none;
    color: #0066cc;
    transition: color 0.2s;
}

.module_links a:hover {
    color: #004499;
}
.module_content {
	list-style: none;
}
.module_content li {
    margin-bottom: 10px;
}

.module_content a {
    text-decoration: none;
    color: #004080;
}

.financial-article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 25px;
	padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.article_title {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #004080;
}
.financial-article .article-text {
    /* flex: 1; */
    max-width: 65%;
}

.financial-article .article-text h3 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #003366;
}

.financial-article .article-text p {
    font-size: 1rem;
    color: #444;
    margin-bottom: 20px;
}
.financial-article img {
    width: 30%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 8px;
}
.financial-article a {
    color: #fff;
    background-color: #183153;
    text-decoration: none;
    font-weight: bold;
    padding: .5rem;
    border-radius: 5px;
}
.financial-article a:hover {
    text-decoration: underline;
}

.ad_slider {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ad_slide {
    display: none;
    flex-direction: column;
    padding: 15px;
    animation: fadeIn 3s ease-in-out;
  }
  
  .ad_slide.active {
    display: flex;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .ad_category {
    background-color: #183153;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    align-self: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .ad_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  .ad_headline {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 10px;
  }
  .ad_logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  .ad_details h4 {
    margin: 0 0 5px 0;
    font-size: 16px;
  }
  .list_of_details li {
    display: block;
    list-style: none;
    margin-bottom: 1rem;
    text-align: justify;
    padding-left: 1.2em;
    position: relative;
  }
  
  .list_of_details li::before {
    content: "•";
    color: #183153;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .ad_details p {
    margin: 0;
    font-size: 14px;
    color: #555;
  }
  
  .ad_button {
    align-self: flex-start;
    padding: 8px 12px;
    background-color: #FAB800;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-self: center;
  }
  
  .ad_button:hover {
    background-color: #e6a700;
  }

/* Stopka */
#footer {
    text-align: center;
    padding: 15px;
    background-color: #353B50;
    color: white;
    margin-top: 40px;
}

/* --- Styl dla tabletów (<= 992px) --- */
@media screen and (max-width: 992px) {
	#container {
	  flex-direction: column;
	}
  
	#left_col,
	#right_col,
	#page_content {
	  width: 100%;
	}
  
	#left_col,
	#right_col {
	  order: 1;
	}
  
	#page_content {
	  order: 0;
	}
  }

  /* --- Styl dla telefonów (<= 600px) --- */
@media screen and (max-width: 600px) {
	header h1 {
	  font-size: 1.5rem;
	}
  
	#nav-links {
	  flex-direction: column;
	  gap: 10px;
	}
  
	.financial-article {
	  flex-direction: column;
	}
  
	.financial-article img {
	  width: 100%;
	  margin-top: 10px;
	}
  
	.offer {
	  flex-direction: column;
	}
  
	.offer img {
	  width: 100%;
	  margin-bottom: 10px;
	}
  
	.offer_button {
	  width: 100%;
	  margin-top: 10px;
	}
  }

  /* Ukryj hamburger domyślnie */
.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-left: auto;
}

/* Styl nawigacji */
#nav-links {
    display: flex;
    gap: 20px;
}

/* Media query – dla ekranów max 768px (telefony) */
@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    #nav-links {
        display: none;
        flex-direction: column;
        background-color: #222;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
        z-index: 1000;
    }

    #nav-links.show {
        display: flex;
    }

    #nav-links a {
        color: #fff;
        padding: 10px 0;
    }

    .dropdown-list,
    .sub-dropdown-list {
        position: static;
        display: none;
    }

    .nav-link:hover .dropdown-list {
        display: block;
    }
}